.user-overview {
  .info {
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 15px;
    > .title {
      border-bottom: 1px solid #eee;
      padding: 0 0 10px 15px;
      > .text {
        font-size: 20px;
        margin-right: 20px;
      }
    }
  }

  .info-image-wrap {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
    border: 1px dashed #efefef;
    border-radius: 13px;
  }
}
